<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div class="page-header">
    <h1>Raw data</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>age</th>
        <th>degree</th>
        <th>field</th>
        <th>study_type</th>
        <th>sex</th>
        <th>average</th>
        <th>science_club</th>
        <th>study_time</th>
        <th>hobby_time</th>
        <th>free_time</th>
        <th>work</th>
        <th>work_time</th>
        <th>type_contract</th>
        <th>work_vs_study</th>
        <th>reason_of_work</th>
        <th>work_why_not_yes</th>
        <th>future_work</th>
        <th>study_and_work</th>
    </tr>
    </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.age }}</td>
        <td>{{ element.degree }}</td>
        <td>{{ element.field }}</td>
        <td>{{ element.study_type }}</td>
        <td>{{ element.sex }}</td>
        <td>{{ element.average }}</td>
        <td>{{ element.science_club }}</td>
        <td>{{ element.study_time }}</td>
        <td>{{ element.hobby_time }}</td>
        <td>{{ element.free_time }}</td>
        <td>{{ element.work }}</td>
        <td>{{ element.work_time }}</td>
        <td>{{ element.type_contract }}</td>
        <td>{{ element.work_vs_study }}</td>
        <td>{{ element.reason_of_work }}</td>
        <td>{{ element.work_and_study_how }}</td>
        <td>{{ element.work_why_not_yes }}</td>
        <td>{{ element.future_work }}</td>
        <td>{{ element.study_and_work }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}