<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header" style="text-align: center;">
    <h1>Wyniki</h1>
</div>

<body>
    <table class="columns" style="margin-left:auto;margin-right:auto;">
      <tr>
          <td><div id="sex"></div></td>
          <td><div id="type"></div></td>
      </tr>
    </table>
    <div id="study" style="text-align: center;"></div>
    <div id="free_time" style="text-align: center;"></div>
    <table class="columns" style="margin-left:auto;margin-right:auto;">
      <tr>
          <td><div id="IsWorkingFT"></div></td>
          <td><div id="IsWorkingPT"></div></td>
      </tr>
    </table>
    <div id="work_time" style="text-align: center;"></div>
    <table class="columns" style="margin-left:auto;margin-right:auto;">
      <tr>
          <td><div id="IsConsistentFT"></div></td>
          <td><div id="IsConsistentPT"></div></td>
      </tr>
    </table>
    <div id="study_and_work" style="text-align: center;"></div>
</body>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', {'packages':['corechart']});
  google.setOnLoadCallback(drawSex);
  google.setOnLoadCallback(drawType);
  google.setOnLoadCallback(drawStudy);
  google.setOnLoadCallback(drawFreeTime);
  google.setOnLoadCallback(drawIsWorkingFT);
  google.setOnLoadCallback(drawIsWorkingPT);
  google.setOnLoadCallback(drawTime);
  google.setOnLoadCallback(drawIsConsistentFT);
  google.setOnLoadCallback(drawIsConsistentPT);
  google.setOnLoadCallback(drawStudy_and_Work);

  function drawSex() {
    var data = google.visualization.arrayToDataTable([
          ['Płeć', 'Ilość'],
          ['Kobiety', {{ sex[0][1] }}],
          ['Mężczyźni', {{ sex[1][1] }}],
          ['Inni', {{ sex[2][1] }}],
        ]);
    var options = {
          title: 'Płeć',
          width:400,
          height:300
        };
    var chart = new google.visualization.PieChart(document.getElementById('sex'));
    chart.draw(data, options);
  }

  function drawType() {
    var data = google.visualization.arrayToDataTable([
          ['Rodzaj studiów', 'Ilość'],
          ['Stacjonarne', {{ type[0][1] }}],
          ['Niestacjonarne', {{ type[1][1] }}]
        ]);
    var options = {
          title: 'Rodzaj studiów',
          width:400,
          height:300
        };
    var chart = new google.visualization.PieChart(document.getElementById('type'));
    chart.draw(data, options);
  }

  function drawStudy() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Question');
    data.addColumn('number', 'Studia stacjonarne');
    data.addColumn('number', 'Studia niestacjonarne');

    data.addRows( {{ study|tojson }} );

    var options = {
          title: 'Ile godzin w tygodniu poświęca Pan/Pani na samodzielną naukę?',
        };
    var chart = new google.visualization.ColumnChart(document.getElementById('study'));
    chart.draw(data, options);
  }

  function drawFreeTime() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Question');
    data.addColumn('number', 'Studia stacjonarne');
    data.addColumn('number', 'Studia niestacjonarne');

    data.addRows( {{ free_time|tojson }} );

    var options = {
          title: 'Ile godzin w tygodniu poświęca Pan/Pani na hobby/zainteresowania?',
        };
    var chart = new google.visualization.ColumnChart(document.getElementById('free_time'));
    chart.draw(data, options);
  }

  function drawIsWorkingFT() {
    var data = google.visualization.arrayToDataTable([
          ['Czy Pan/Pani pracuje?', 'Ilość'],
          ['Tak', {{ working_FT[0][1] }}],
          ['Nie', {{ working_FT[1][1] }}]
        ]);
    var options = {
          title: 'Czy Pan/Pani pracuje? (studia stacjonarne)',
          width:400,
          height:300
        };
    var chart = new google.visualization.PieChart(document.getElementById('IsWorkingFT'));
    chart.draw(data, options);
  }

  function drawIsWorkingPT() {
    var data = google.visualization.arrayToDataTable([
          ['Czy Pan/Pani pracuje?', 'Ilość'],
          ['Tak', {{ working_PT[0][1] }}],
          ['Nie', {{ working_PT[1][1] }}]
        ]);
    var options = {
          title: 'Czy Pan/Pani pracuje? (studia niestacjonarne)',
          width:400,
          height:300
        };
    var chart = new google.visualization.PieChart(document.getElementById('IsWorkingPT'));
    chart.draw(data, options);
  }

  function drawTime() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Question');
    data.addColumn('number', 'Studia stacjonarne');
    data.addColumn('number', 'Studia niestacjonarne');

    data.addRows( {{ work_time|tojson }} );

    var options = {
          title: 'Jaką część etatu Pan/Pani pracuje?',
        };
    var chart = new google.visualization.ColumnChart(document.getElementById('work_time'));
    chart.draw(data, options);
  }

  function drawIsConsistentFT() {
    var data = google.visualization.arrayToDataTable([
          ['Czy obecna praca jest zgodna z Pana/Pani wykształceniem?', 'Ilość'],
          ['Tak', {{ consistent_FT[0][1] }}],
          ['Nie', {{ consistent_FT[1][1] }}]
        ]);
    var options = {
          title: 'Czy obecna praca jest zgodna z Pana/Pani wykształceniem? (studia stacjonarne)',
          width:400,
          height:300
        };
    var chart = new google.visualization.PieChart(document.getElementById('IsConsistentFT'));
    chart.draw(data, options);
  }

  function drawIsConsistentPT() {
    var data = google.visualization.arrayToDataTable([
          ['Czy obecna praca jest zgodna z Pana/Pani wykształceniem?', 'Ilość'],
          ['Tak', {{ consistent_PT[0][1] }}],
          ['Nie', {{ consistent_PT[1][1] }}]
        ]);
    var options = {
          title: 'Czy obecna praca jest zgodna z Pana/Pani wykształceniem? (studia niestacjonarne)',
          width:400,
          height:300
        };
    var chart = new google.visualization.PieChart(document.getElementById('IsConsistentPT'));
    chart.draw(data, options);
  }

  function drawStudy_and_Work() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Question');
    data.addColumn('number', 'Liczba odpowiedzi');

    data.addRows( {{ study_and_work|tojson }} );

    var options = {
          title: 'Czy uważa Pan/Pani, że można pracować i studiować jednocześnie bez uszczerbku na studiach?',
          legend: 'none'
        };
    var chart = new google.visualization.ColumnChart(document.getElementById('study_and_work'));
    chart.draw(data, options);
  }

</script>

{% endblock %}