<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<style>
h1, h2, h3, h4 { margin: 30px 0;
}

.jumbotron{
  padding: 1rem ;
  margin: 1rem;
  background-color: #CCA29B !important;
  color: #fff;
}

.btn-outline-secondary{
  padding: 1rem ;
  margin: 1rem;
  text-align: center;
  color: #CCA29B !important;
}

.center {
  text-align: center;
}

</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1 style="text-align: center", class="display-4"> <b> Dzień dobry! </b> </h1>
    <p class="lead"> <b> Jesteśmy studentami IV roku Inżynierii Biomedycznej. W ramach przedmiotów "Aplikacje Webowe" oraz "Metody i narzędzia badawcze w naukach społecznych" przeprowadzamy ankietę dotyczącą zarządzania czasem wśród studentów.
		<br> Ankieta skierowana jest do studentów wszystkich lat. <br> <br> Zapraszamy! </b>
	</p>
  </div>


  <div class="center">
    <a class="btn btn-outline-secondary" href="/form" role="button"> <b> Przejdź do ankiety &rarr; </b></a>
  </div>


{% endblock %}

